<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="/home/qingweic/sfuhome/cmpt276/project/fitness/css/fitness-center/fitness-center/chong/app/views/css/styles.css">

</head>
<body>
        <header>
                <div class="main">
                        <ul>
                            <li><a class ="active" href="#">HOME</a></li>
                            <li><a href="#">Daily Calories Intake</a></li>
                            <li><a href="#">Daily Calories Consume</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                <h1>let us work out now!</h1>
                <b>DO YOU <sup><i>EXERCISE</i> </sup>TODAY, BRO?</b><br><br>
                <hr />
                <div class="contact-form">
                        <form id ="contact" method="post" action="">
                            <input name ="name" type="text" class="form-control" placeholder="User ID" required>
                            <br>
                            <input name ="password" type="text" class="form-control" placeholder="Password" required>
                            <br>
                            <input type ="submit" class ="form-control submit1" value ="SIGN IN" >
                
                            <input type ="submit" class ="form-control submit2" value ="SIGN UP" >
                            <%= link_to "use it now!", index_path, class: "btn btn-lg btn-primary" %>    
                            <%= link_to "sign up!", signup_path, class: "btn btn-lg btn-primary" %>   
                            <br>
                        </form>
                    </div>
                    <br>
                    <div class="help">
                      <br>
                      <br>
                        <h1>Do not have a account? sign up here!</h1>
                    </div>
                    
                    <br>
                    <img src="/home/qingweic/sfuhome/cmpt276/project/fitness/css/fitness-center/fitness-center/chong/app/assets/images/4.jpg" width="240px"height="140px" align="left"><br>
                    
                    
                    <h1>Exercises is awesome!</h1>
                    <h2>Exercises is awesome!</h2>
                    <h3>Exercises is awesome!</h3>
                    <h4>Exercises is awesome!</h4>
                    <h5>Exercises is awesome!</h5>
                    
                    
                    <hr />
                </header>
            </body>
            </html>
